<p>Voici, une liste de participants. Si vous n'êtes pas dans la liste, ajoutez votre nom</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Participant">
  <button type="submit">Add</button>
</form>

<div *ngIf=" names.length">
    Il y a : 

    <ul>
      <li *ngFor="let name of names; let i=index">{{name}} <button (click)="remove(name)">Parti</button> </li>
    </ul>

</div>

<div *ngIf=" ! names.length">
    Il y a personne! 
</div>


<div *ngIf=" message" >Message: {{message}} </div>
